<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About our church </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID&currency=GBP"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-gray-100 font-sans">
<%- include('partials/header') %>
<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-4"><%= aboutContent.title %></h1>
  <p><%= aboutContent.description %></p>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
<%- include('partials/footer') %>
</body>
</html>

