
<footer class="bg-[#785b61]  bg-gray-900 text-gray-300 py-8 mt-12">
  <div class="container mx-auto grid md:grid-cols-3 gap-8 px-6">
    <div>
      <h4 class="font-bold mb-3">Contact Us</h4>
      <p>St Michael Ethiopian Orthodox Tewahedo Church</p>
      <p>123 Example Road, Sheffield, UK</p>
      <p>Email: info@stmichaelchurch.org</p>
      <p>Tel: +44 1234 567890</p>
    </div>
    <div>
      <h4 class="font-bold mb-3"></h4>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div>
      <h4 class="font-bold mb-3">Follow Us</h4>
      <div class="flex space-x-3 mt-2">
        <a href="#"><img src="../images/icons/facebook.svg" class="w-6 h-6"></a>
        <a href="#"><img src="../images/icons/instagram.svg" class="w-6 h-6"></a>
        <a href="#"><img src="../images/icons/tiktok.svg" class="w-6 h-6"></a>
      </div>
    </div>
  </div>
  <div class="text-center mt-6 text-sm">&copy; <%= new Date().getFullYear() %> St Michael EOTC. All rights reserved.</div>
</footer>
